[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = BR
ST = Rio de Janeiro
L = Niteroi
O = GMarine
OU = Innovation
CN = www.gmarineinnovation.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.gmarineinnovation.com
DNS.2 = gmarineinnovation.com
DNS.3 = gmarineinnovation